/*--------------------------------------------Body-Images-------------------------------------------------------------------------*/
html,body {

}
/
/*-------------------------------------------------Nav--------------------------------------------------------------------*/

/*-------------------------------------------H's--------------------------------------------------------------------------*/


}
/*---------------------------------------------Homepage-Columns------------------------------------------------------------------------*/

/*---------------------------------------------Assign1-Columns------------------------------------------------------------------------*/



/*----------------------------------------------Links-----------------------------------------------------------------------*/


/*-----------------------------------------Footer----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------------------------------------------*/


#forest1 {
	height: 350px;
	width:100%;
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	top:250px;
}
#main {
	width:92%;
	height:560px;
	background: linear-gradient#a0b2be, #fff)
}
